.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 15px;
  padding: 30px 100px 20px 10px;
  border: 1px solid rgb(128, 128, 128);

  font-size: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
